<a href="https://colab.research.google.com/github/frankiepike2/bte320/blob/main/In_class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset = True

if reset:
  clear()

color("black", "black")
shape('blank')
begin_fill()
jumpto(0,0)

for i in range(4):
  forward(100)
  left(90)


penup()
end_fill()

In [ ]:
pi = 3.14
h = 10
r = 3

Area = 2 * pi * r * h + 2 * pi * r ** 2
print(Area)

244.92000000000002

In [ ]:
import random
play = input("Do you want to play a game? ")

while play == "yes":

  pl = input("player 1: rock, paper, scissors: ")
  pl2 = random.choice("rock, paper, scissors: ")


  if pl == pl2:
    print("draw")
  elif(
    (pl == "rock" and pl2 == "scissors") or
      (pl == "paper" and pl2 == "rock") or
        (pl == "scissors" and pl2 == "paper")
      ):
    print("player 1 wins")
  else:
    print("player 2 wins")

    answer = input("Do you want to play again? ")

player 2 wins

In [ ]:
pl = input("player 1 select ")
pl2 = input("player 2 select ")
if pl == pl2:
    print("draw")
elif pl == "rock" and pl2 == "scissors":
    print("player 1 wins")
elif pl == "rock" and pl2 == "paper":
    print("player 2 wins")
elif pl == "paper" and pl2 == "scissors":
    print("player 2 wins")
elif pl == "paper" and pl2 == "rock":
    print("player 1 wins")
elif pl == "scissors" and pl2 == "rock":
    print("player 2 wins")
elif pl == "scissors" and pl2 == "paper":
    print("player 1 wins")

player 1 select rock
player 2 select paper
player 2 wins

In [ ]:
n1 = float(input("number 1 "))
n2 = float(input("number 2 "))
symbol = input("symbol")
if symbol == "+":
    print(n1 + n2)
elif symbol == "-":
    print(n1 - n2)
elif symbol == "*":
    print(n1 * n2)
elif symbol == "/":
    print (n1/n2)
elif symbol == "**":
    print(n1 ** n2)

number 1 0
number 2 1
symbol/
0.0

In [1]:
def getParkingHours():
    return int(input('Enter # of hours to park: '))

def calcParkingFee(hours):
    fee = hours * 2.50
    if fee < 6.00:
        return 6.00
    elif fee > 20.00:
        return 20.00
    else:
        return fee

hours = getParkingHours()
fee = calcParkingFee(hours)
print(f"Total fee: ${fee}.")

Enter # of hours to park: 5
Total fee: $12.5.

In [ ]:
months = {}

names = ["Jan" , "Feb" , "Mar" , "Apr" , "May" , "Jun" , "Jul" , "Aug" , "Sep" , "Oct" , "Nov" , "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[numbers[i]] = names[i]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
def calc_fee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

h = int(input('Enter number of hours:'))
fee =  calc_fee(h)
print(display(fee))

Enter number of hours:5

17.5

None

In [ ]:
!pip install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl.metadata (10 kB)
Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [ ]:
for i in range(40,5,-5):
  print(i, end=' ')

40 35 30 25 20 15 10

In [ ]:
l = [1,2,3]

In [ ]:
l=[]

item = int(input("give a value: "))

while item != 0:
    l.append(item)
    item = int(input("give a value: "))


print(l)

give a value: 1
give a value: 0
[1]

In [ ]:
l = [1=,5,2,7,4,9]
l.sort(reverse=True)
l

[9, 7, 5, 4, 2, 1]

In [ ]:
for i in range(1, 1_000_000_000):
  if i == 10:
    break
  print(i, end=" ")
print ('Done')

1 2 3 4 5 6 7 8 9 Done

In [ ]:
for i in l:
  print(i)

1
2
3

In [ ]:
d = {'John' : 95, 'Jane' : 93, 'Bob' : 87, 'Anne' : 90}

In [ ]:
d['Bryan'] = 85
d

{'John': 95, 'Jane': 93, 'Bob': 87, 'Anne': 90, 'Bryan': 85}

In [ ]:
del(d['Bryan'])
d

{'John': 95, 'Jane': 93, 'Bob': 87, 'Anne': 90}

In [ ]:
my_list = [20, 35, 'hello']
new_list = my_list[:]
print(new_list[0:2])
print(my_list[-1])

[20, 35]
hello

In [ ]:
annual_salary = float(input("Enter your starting annual salary: "))
portion_saved = float(input("Enter the portion of salary to be saved, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter the semiannual raise, as a decimal: "))

portion_down_payment = 0.25
current_savings = 0.0
r = 0.04
monthly_salary = annual_salary / 12

down_payment = total_cost * portion_down_payment
months = 0

while current_savings < down_payment:
    monthly_return = current_savings * r / 12
    monthly_savings = portion_saved * monthly_salary
    current_savings += monthly_return + monthly_savings
    months += 1
    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise
        monthly_salary = annual_salary / 12

print("Number of months:", months)

Enter your starting annual salary: 200000
Enter the portion of salary to be saved, as a decimal: .15
Enter the cost of your dream home: 1500000
Enter the semiannual raise, as a decimal: .02
Number of months: 107

In [ ]:
def range_check(num, low, high):
    if num >= low and num <= high:
        return True
    else:
        return False

In [ ]:
print(range_check(1,2,3))

False

In [ ]:
def wAVG(L, W):
  try:
    res = []
    for i in range(len(L)):
      res.append(L[i] * W[i])
    return sum(res) / sum(W)
  except ZeroDivisionError:
    print('Divided by zero')
    return[]
  except TypeError:
    print('Non-numerical objects found')
    return[]
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')
wAVG([1,2,3],[0.2,0,-0.2])

Divided by zero

[]